.calendar-box {
	max-width:960px;
	margin-left:  auto;
	margin-right:  auto;
	float:  left;
}

.calendar-box > ul {
	padding: 0px;
	margin: 0px;
}

.calendar-labels {
	height:  100%;
	width: 150px;
	float: left;
	padding:  0px;
	margin: 0px;
	font-size: 125px;
}
	
	.calendar-labels ul {

	}
	
		.calendar-labels li {
			display: inline-block;
			width:  135px;
			margin:  5px;
			
			padding-right: 5px;
			text-align: right;
			opacity: 0.21;
			font-size: inherit;
		}
		
		.calendar-labels li > span {
			font: bold 1.7rem Helvetica, Sans-serif;
			line-height: 1.7rem;
		}
		
	.calendar-labels .spacer {
		display: none;
		height: 25px;
		line-height: 0;
		padding: 0px; 
		margin: 5px; 
		opacity: 0.0;
	}
	
	.calendar-labels .pre {
	}
	.calendar-labels .current {
	}
	
	.calendar-labels .post {
		height:  125px;
	}

.dotw-box {
	border:  1px dotted gray;
	display: inline-block;
	width: 125px;
	margin:  5px;
	background-color: lightGray;
	text-align: center;
	opacity: 0.33;
	font-size:  1rem;
}


.day-box {
	border:  1px dotted rgb(0,0,255);
	display: inline-block;
	width: 125px;
	height: 125px;
	margin:  5px;
	background-color: rgba(0,0,255,0.05);
}

.day-box.month{
	font-size: 25px;
	font-weight: bold;

	background-color: lightGray;
	text-align: center;
	opacity: 0.33;
	
	width: 100%;
	height: auto;
	
	display: none;
}

.day-box.active {
	border-style:  solid;
}

.box-monthpre {
	border-color: rgb(255,0,0);
	background: rgba(255,0,0,0.05);
}

.box-monthpost {
	border-color: rgb(0,128,0);
	background: rgba(0,128,0,0.05);
}

.date-label {
	font-size: 25px;
	margin: 0.5em;
	/*border: 1px solid black;*/
}