body {
	font-family: Helvetica, Sans-serif;
}

.visible-phone {
	display: none !important;
}

.calendar-box {
	max-width:960px;
	margin-left:  auto;
	margin-right:  auto;
	float:  left;
}

.calendar-box > ul {
	padding: 0px;
	margin: 0px;
}

.calendar-labels {
	height:  100%;
	width: 150px;
	float: left;
	padding:  0px;
	margin: 0px;
	font-size: 125px;
}
	
	.calendar-labels ul {

	}
	
		.calendar-labels li {
			/*display: inline-block;
			width:  135px;
			margin:  5px;
			
			padding-right: 5px;
			text-align: right;
			opacity: 0.21;
			font-size: inherit;*/
			
			display: block;
			width:  135px;
			height: 125px;
			margin:  10px 5px;
			
			padding-right: 5px;
			text-align: right;
			opacity: 0.21;
			font-weight: bold;
			font-size: 1.7rem;
		}
		
	.calendar-labels .spacer {
		height: 50px;
		line-height: 0;
		padding: 0px; 
		margin: 5px; 
		opacity: 0.0;
	}
	
	.calendar-labels .pre {
	}
	.calendar-labels .current {
	}
	
	.calendar-labels .post {
	}
	
	.day-box, .dotw-box {
		/*display: inline-block;*/
		display: block;
		float: left;
		width: 125px;
		margin:  5px;
	}

.dotw-box {
	border:  1px dotted gray;
	height: 50px;
	background-color: lightGray;
	text-align: center;
	opacity: 0.33;
	font-size:  1em;
}


.day-box {
	border:  1px dotted rgb(0,0,255);
	border-radius: 2px;
	height: 125px;
	background-color: rgba(0,0,255,0.05);
}
	
	.day-box.month{
		font-size: 25px;
		font-weight: bold;
	
		background-color: lightGray;
		text-align: center;
		opacity: 0.33;
		
		width: 100%;
		height: auto;
		
		display: none;
	}
	
	.day-box.active {
		border-style:  solid;
	}
	
	.day-box.today {
		background-color: rgba(0,0,255,0.2);
	}
	
	.day-box .item-num {
		border: 1px solid black;
		opacity: 0.21;
		float: left;
		cursor: pointer;
	}
	
	.day-box .event-button {
		border: 1px solid black;
		padding: 0.10em 0.5em;
		opacity: 0.21;
		float: right;
		cursor: pointer;
	}
		
.box-monthpre {
	border-color: rgb(255,0,0);
	background: rgba(255,0,0,0.05);
}

.box-monthpost {
	border-color: rgb(0,128,0);
	background: rgba(0,128,0,0.05);
}

.date-label {
	font-size: 25px;
	margin: 0 0.5em;
	text-align: center;
	font-family: Futura, Helvetica, sans-serif;
	/*border: 1px solid black;*/
}

/* modal for editing dates */
.modal { 
	/* All of this stuff is just to vertically center things */
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	display: table;  display:none;
}

.modal.active {
	display: table !important;
}

	/* The sole purpose of this is to create a transparent 
	background without interfering with the other elements that are
	children of .modal */
	.transparent-dummy {
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: black;
		opacity: 0.2;
	}
	
	/* This just exists to vertically center the actual 
	content below*/
	.center-container {
		display: table-cell;
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}

	.edit-box {
		background-color: gray;
		border: 5px solid black;
		border-radius: 5px;
		opacity: 0.95;
		
		height: 25%;
		width: 50%;
		display: inline-block;
		
		text-align: left;
	}
	
		.edit-box li{
			list-style: none;
			padding-bottom: 0.5em;
		}
		
		.edit-box li * {
			border: 1px solid red;
		}
	
		.edit-box label {
			display: inline-block;
			width: 7em;
		}
		
button.centre {
	display: block;
	margin: 0 auto;
}